body {
}
#pic{
    border-color: lightgrey;
    border-style:solid;
    width: 100px;
    height: 100px;
    float: left;
}
#info
{
    float: left;
     margin-left: 50px;
}
#generalInfo {
padding-left: 30px;
    padding-top: 30px;
    height: 196px;
}
#info .valuesText {
    float: left;
    margin-left: 50px;
    margin-top: 9px;
}
h4 span {
    float: left;
}
td {
    padding-left: 50px;
}
.managerSection {
    border-top: black;
    border-top-style: solid;
    height: 58px;
}
#myTask {
margin-left: 50px;
}
#mySubTask {
margin-left: 50px;
}
.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
.ui-dialog-titlebar-close {
    visibility: hidden;
}
.hide {
 display:none;
}
.floatRight {
    float: right;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;